body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.header {
    
}

.sidebar {
    grid-row-start: span 2;
    background-color: rgb(65, 182, 255);
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    gap: 50px;
    padding: 25px;
}

.sidebar > div {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-auto-rows: 25px;
    gap: 15px 15px;
    align-items: center;
}

.sidebar .label, .label-top {
    font-weight: bold;
    font-size: 20px;
}

.label-top {
    font-size: 28px;
}

.header {
    box-shadow: 0px 2px 4px rgb(173, 173, 173);
}

.header-top {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 25px;
}

.search, .shortcuts {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    align-items: center;
}

#searchbar {
    appearance: none;
    width: 600px;
    background-color: lightgray;
    border-radius: 25px;
    padding: 5px;
    border: none;
}

.shortcuts {
    column-gap: 25px;
}

.h-b-right button {
    border-radius: 25px;
    border: none;
    background-color: #3b82f6;
    width: 100px;
    height: 35px;
    color: white;
}

.panel {

}